.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.headerLayout {
  display:flex;
  padding: 0;
  background: #fff;
  height:50px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.headMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: -webkit-fill-available;

  :global{
    .ant-menu-item-selected{
      height:57px;
    }
    .ant-menu-item:hover{
      height:57px;
    }

  }
}
