.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.siteLayoutBackground {
  display: inline-flex;
  justify-content: space-between;
  padding: 0;
  background: #fff;
}

.headContent{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:  100%;

}
